{% extends 'base.html.twig' %}

{% block title %}Gestion de mot de passe {% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <motdepasse></motdepasse>
        </div>
    </div>

{% endblock %}
