<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %} Gestion de mot de passe{% endblock %}</title>
    {{ encore_entry_link_tags('index') }}
</head>
<body>

<div id="app">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ path('default') }}"> Gestion de mot de passe </a>
            </div>
        </div>
    </nav>


    {% block body %}{% endblock %}
</div>

{{ encore_entry_script_tags('index') }}
</body>
</html>
